.title {
  font-size: var(--font-size-h4);
  display: inline-flex;
  flex-wrap: wrap;
  gap: calc(var(--spacer) / 4) calc(var(--spacer) / 8);
}

.network {
  color: var(--font-color-heading);
}

.network svg {
  width: 1em;
  height: 1em;
  margin-top: -0.25em;
  fill: var(--color-secondary);
}

.tooltip {
  width: 0.75em;
  height: 0.75em;
}
