.meta {
  margin-bottom: calc(var(--spacer) / 1.5);
  color: var(--color-secondary);
  font-size: var(--font-size-small);
}

.asset {
  margin-left: calc(-2rem + calc(var(--spacer) / 3));
  margin-right: calc(-2rem + calc(var(--spacer) / 3));
  padding-left: 2rem;
  padding-right: 3rem;
  margin-bottom: calc(var(--spacer) / 1.5);
  padding-bottom: calc(var(--spacer) / 1.75);
  background-color: var(--color-black);
  padding-top: calc(var(--spacer) / 1.5);
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  max-width: var(--break-point-large);
}

.asset * {
  color: var(--color-menu);
  text-decoration: none;
}

.publisherInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (min-width: 40rem) {
  .asset {
    margin-left: -2rem;
    margin-right: -2rem;
  }
  .publisherInfo {
    flex-direction: row;
  }
}

.assetType {
  display: inline-block;
  border-right: 1px solid var(--border-color);
  padding-right: calc(var(--spacer) / 3.5);
  margin-right: calc(var(--spacer) / 4);
}

.datatoken {
  white-space: pre;
  margin-right: calc(var(--spacer) / 3);
}

.byline {
  font-size: var(--font-size-small);
}

.updated {
  font-size: var(--font-size-mini);
}

.addWrap {
  padding-left: calc(var(--spacer) / 5);
  border-left: 1px solid var(--border-color);
  display: inline-block;
}

.add {
  font-size: var(--font-size-mini);
}
