.banner {
  display: flex;
  justify-content: center;
  min-height: 20rem;
  margin-bottom: calc(var(--spacer) * 2);
  margin-top: calc(var(--spacer) * 2);
  background-size: cover;
  background-repeat: no-repeat;
  padding: calc(var(--spacer) * 3) var(--spacer);
}

.title {
  font-size: var(--font-size-h3);
  margin-top: 0;
  margin-bottom: 0;
}

.cardContainer {
  max-width: 25rem;
}

.logoContainer {
  padding: var(--spacer);
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  background-color: var(--brand-white);
}

.logoContainer svg {
  width: 15rem;
}

.cardContent {
  display: flex;
  flex-direction: column;
  gap: var(--spacer);
  padding: var(--spacer);
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  background-color: var(--brand-grey-dark);
}

.cardContainer a {
  text-decoration: none;
}

.contentWrapper > h2 {
  color: var(--brand-white);
  text-align: center;
  margin-bottom: calc(var(--spacer) * 3);
}

@media (min-width: 35rem) {
  .contentWrapper {
    max-width: 80%;
  }
}

@media (min-width: 55rem) {
  .title {
    font-size: var(--font-size-h3);
  }
  .contentWrapper {
    max-width: 60%;
  }
}

.description {
  margin-top: calc(var(--spacer) / 4);
  margin-bottom: 0;
  font-size: var(--font-size-base) !important;
}

.title,
.description {
  color: var(--brand-white);
}
